(
    id: TestFighter,
    model_path: "fighters/test/test-fighter-normal.glb",
    attributes: (
        base_walk_accel: "0.1",
        stick_walk_accel: "0.16",
        max_walk_vel: "0.7",
        ground_friction: "0.02",
        dash_acceleration_duration: 13,
        dash_duration: 24,
        base_dash_accel: "0.02",
        stick_dash_accel: "0.065",
        max_dash_vel: "1.1",
        short_hop_vertical_velocity: "1.05",
        full_jump_vertical_velocity: "1.6",
        jump_horizontal_velocity: "0.7",
        air_jump_horizontal_velocity: "0.5",
        air_jump_multiplier: "1.0",
        dash_initial_velocity: "1.4",
        terminal_velocity: "1.3",
        gravity: "0.064",
        jumpsquat_duration: 5,
        landing_iasa: 4,
        landing_duration: 30,

        max_air_horizontal_velocity: "1.35",
        air_acceleration_base: "0.19",
        air_acceleration_stick: "0.09",
        air_friction: "0.05",

        air_dodge_duration: 49,
        air_dodge_velocity: "2.790",
        air_dodge_decay: "0.9"
    ),
    animations: {
        Wait: "PlyPurin5K_Share_ACTION_Wait",
        Walk: "PlyPurin5K_Share_ACTION_WalkFast",
        Run: "PlyPurin5K_Share_ACTION_Run",
        Dash: "PlyPurin5K_Share_ACTION_Dash",
        JumpSquat: "PlyPurin5K_Share_ACTION_Landing",
        JumpForward: "PlyPurin5K_Share_ACTION_JumpF",
        JumpBack: "PlyPurin5K_Share_ACTION_JumpB",
        Landing: "PlyPurin5K_Share_ACTION_Landing",
        AirDodge: "PlyPurin5K_Share_ACTION_EscapeAir",
        DoubleJump: "PlyPurin5K_Share_ACTION_JumpAerialF1",
        Fall: "PlyPurin5K_Share_ACTION_Fall"
    }
)
